<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Todo List</title>
</head>
<body>
    <div class="box" id="heading">
        <h1>It's <%= currentDay %>.</h1>
    </div>

    <div class="box">
        <% for (let i = 0; i < items.length; i++ ) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= items[i] %></p>
            </div>
        <% } %>

        <div>
            <form action="/" method="POST">
                <input type="text" name="newItem" placeholder="Enter your task">
                <button type="submit">+</button>
            </form>
        </div>
    </div>

    
</body>
</html>